<% if @worklist.errors.present?%>
  <ul>
        <% @worklist.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>




<%= form_for(@worklist) do |f| %>
  <div class="form-group">
    <%= f.label :school_id, "school"%>
    <%#= f.select :school_id, School.all.map{|x| [x.name, x.id]},:class=>"form-control"%>
    <%#= f.collection_select :school_id, School.all, :id, :name,:class=>"form-control", :include_blank=>"Please select"%>
    <% School.all.each do |s| %>
    <%= f.radio_button :school_id,s.id%><%= s.name%>

    <% end %>

  </div>

	<div class="form-group">
 		<%= f.label :title, "標題"%>
  	<%= f.text_field :title, :class=>"form-control"%>
 	</div>
 	<div class="form-group">
  	<%= f.label :duedate, "到期日"%>
  	<%= f.text_field :duedate, :class=>"form-control"%>
 	</div>
 	<div class="form-group">
  	<%= f.label :description, "敘述"%>
  	<%= f.text_field :description, :class=>"form-control"%>
  </div>
  
  <div class="form-group">
    
    <%= f.collection_check_boxes(:review_ids, Review.all, :id, :name) %>


  </div>

  	<%= f.submit "送出" ,:class=>"form-control"%>
<% end %>


<br><br><br>

<%= link_to 'Back_to_Home', worklists_path ,class:"btn btn-primary btn-xs"%>