<% if @worklist.errors.present?%>
  <ul>
        <% @worklist.errors.each do |error, message|%>
          <li> <%= "#{error.capitalize}  #{message}" %></li>
        <% end %>
  </ul>
<% end%>




<%= form_for(@worklist) do |f| %>
	<div class="form-group">
 		<%= f.label :title%><br>
  		<%= f.text_field :title%><br>
 	</div>
 	<div class="form-group">
  		<%= f.label :duedate%><br>
  		<%= f.text_field :duedate%><br>
 	</div>
 	<div class="form-group">
  		<%= f.label :description%><br>
  		<%= f.text_field :description%><br>
  	</div>
  	<br>
  	<%= f.submit%>
<% end %>


<br><br><br>

<%= link_to 'Back_to_Home', worklists_path ,class:"btn btn-primary btn-xs"%>