
<h1> Vivian's To Do List </h1>

<ul>
 <% @worklists.each do |worklist| %>
  <li>
    <%= worklist.title %> </br>
    <%= worklist.duedate %> </br>
    <%= link_to 'Detail', worklist_path(worklist) %></br>
    <%= link_to 'Edit', edit_worklist_path(worklist) %></br>
    <%= link_to 'Done&Delete', worklist_path(worklist), method: :delete, data:{ confirm: "Are you sure?" } %></br>
    </br></br>
  </li>
 <% end %>
</ul>

<%= link_to 'Add to-do-list?', new_worklist_path %>