<h1><%= @worklist.title %></h1>

<h3> Due Date: <%= @worklist.duedate %> </h3>
<h3> School: <%= @worklist.school.name %></h3>

<hr> </br></br>
<%= @worklist.description%></br></br></br></br><hr>
<ul>Review: 
<% @worklist.reviews.each do |r| %>
	<li><%= r.name %></li>
<% end %>
</ul>
</br></br></br>

<%= link_to 'Back to homepage', worklists_path,class:"btn btn-primary btn-xs"%>